#sidebar {
  background-color: var(--card-background);
  border-right: 1px solid var(--border-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2.5rem;
}

.app-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.projects-list {
  list-style: none;
  flex-grow: 1;
}

.project-item {
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 600;
  color: var(--text-color-light);
  transition: all 0.2s ease-in-out;
}

.project-item:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.project-item.active-project {
  background-color: var(--accent-color);
  color: white;
}

.new-project-container {
  position: relative;
  height: 45px;
}

.new-project-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.new-project-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: var(--shadow-light);
}

.is-hidden {
  display: none;
  /* pointer-events: none; */
}

.new-project-input {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  font-family: inherit;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  border-color: var(--accent-color);
  background-color: var(--card-background);
}

.new-project-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 5px rgba(0, 196, 180, 0.5);
}
